.form-container {
    display: flex;
    justify-content: center;
    margin: 100px 50px 0 50px;

    .sign-in-container {
        display: flex;
        width: 50%;
        height: 500px;
        justify-content: center;
        align-items: center;

        .sign-in {
            width: 50%;
            display: flex;
            flex-direction: column;
            .title {
                font-size: 40px;
                margin: 10px 0;
            }
            .subtitle {
                font-size: 17px;
                color: #5d5d5d;
            }
            .buttons {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                &:hover{
                    background-color: green;
                }
            }
        }
    }
   
}
