//SCSS SYNTAX
@mixin orange-button {
    background-color: #e5a056 !important;
    color: white !important;
    border-width: 0;
    margin-top: 20px;
}
@mixin img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}
.page-gradient {
    background-image: linear-gradient(
        to bottom,
        #b8c0cb,
        #cbcfd8,
        #dddfe5,
        #eeeff2,
        #ffffff
    );
    .project-page {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        .body-section {
            margin-top: 100px;
            color: rgb(41, 45, 52);

            .header_section1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & div {
                    & h1 {
                        text-align: center;
                    }
                }
                .learn-title {
                    font-size: 50px;
                }
                .paragraph_center {
                    max-width: 800px;
                    margin-top: 20px;
                    font-size: 25px;
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                    line-height: 32px;
                    text-justify: inter-word;
                }

                .learn-btn {
                    transition-duration: 0.4s;
                    margin-top: 15px;
                    color: #ff8248;
                    border-color: #ff8248;
                    font-weight: bold;
                    margin-top: 30px;
                    .arrow {
                        padding-bottom: 3px;
                        padding-left: 5px;
                    }
                    &:hover {
                        background-color: #e5a056;
                        color: white;
                        font-weight: normal;
                        border-color:#e5a056 ;
                    }
                }
                .sprint_image {
                    width: 800px;
                    height: 600px;
                    object-fit: contain;
                    margin-top: 20px;
                }
            }
            .header_section2 {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                margin-top: 30px;
                height: 400px;

                width: 100%;
                .paragraph_center {
                    max-width: 800px;
                    font-size: 20px;
                    line-height: 30px;
                    margin-top: 15px;
                }
                .orange_button {
                    @include orange-button();
                }
                .create_project_image {
                    @include img();
                    margin-right: 100px;
                }
            }
            .header_section3 {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 30px 0;
                
                .paragraph_center {
                    max-width: 800px;
                    font-size: 20px;
                    margin-top: 15px;
                    line-height: 30px;
                }
                .orange_button {
                    @include orange-button();
                }
                .create_project_image {
                    @include img();
                    margin-left: 100px;
                }
            }
        }
    }
}
// }
