.signup-page {
    display: flex;
    .image {
        display: flex;
        width: 50%;
        height: 900px;
    }
    .form-container {
        display: flex;
        justify-content: center;
        height: 900px;
        width: 50%;
        .sign-up-container {
            display: flex;
            margin: 70px 50px 0 50px;
            width: 800px;
            height: 800px;
            justify-content: center;
            align-items: center;

            .sign-up {
                width: 500px;
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 40px;
                    margin: 10px 0;
                    color: #658eaf;
                }
                .subtitle {
                    font-size: 17px;
                    color: #37474f;
                }
                .buttons {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    
                    & Button{
                        background-color: #658eaf;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
