.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;

    .logo-container {
        width: 100px;
        height: 100%;
        padding: 5px;
        margin: 15px;
        .logo {
            width: 100%;
            height: 100%;
            padding-bottom: 10px;
        }
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            cursor: pointer;
            transition: 0.4s;
            text-decoration: none;

            &:hover {
                background-color:#fff;
                color: #e5a056;
                border-radius: 2vw;
            }
        }
        .auth-options{
            margin-left: 40px;
        }
    }
}
