.footer-footer {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.footer-Footer_socialmedia {
    display: flex;
    justify-content: flex-start;
}
.footer-footer_p {
    color: #ff8248;
    font-weight: bold;
}
.footer-footer_bg {
    background-color: #292d34 !important;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
     width: 100% !important;
    
}
.footer-logo-container {
    max-width: 100px;
    height: 100px;
}
.footer-container {
    display: flex !important;
    flex-direction: column;
}
.footer-logo_pos {
    display: flex;
    align-items: flex-start;
}

.footer-toolbar_pos {
    display: flex;
    justify-content: flex-end;
}


.footer-right-content {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.footer-social-media {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.footer-text__center {
    text-align: center;
}
.footer-testimonial {
    width: 450px;
    height: 200px;
}
.footer-top__content {
    display: flex;
    margin-left: -187px;
    width: 1602px;
    background-color: #292d34 !important;
    padding-left: 150px;
}
.footer-spacer {
    margin-right: 150px;
}
.footer-logo__container {
    width: inherit;
}
.footer-footer__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-contactus {
    height: 315px;
}
.footer-test {
    height: 315px;
}
.footer-btttom_content_pos {
    display: flex;
}
.footer-text__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: flex-end;
    height: 110px;
    /* margin-left: 30px; */
}
.footer-address {
    margin-top: 50px;
}

.footer-text__color {
    color: #ff8148;
    font-weight: bold;
}