@import '../../assets/scss/options';
@import '../../assets/scss/mixins';
@import '../../assets/scss/hacks';

.group {
    position: relative;
    margin: 10px 0;
    .form-input {
        background: none;
        background-color: white;
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 25px 0;
    }
}
