.App {
  text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
}

*{
    box-sizing: border-box;
}

.cover{
    height: 800px;
    width: 100%;
    background-size: cover;
    background-image: url('./assets/BlobGroup.svg');
    background-position-y: -600px;
    background-position-x: 300px;
    
}