
a{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;

}

.cover{
    height: 800px;
    width: 100%;
    background-image: url('./assets/BlobBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -900px;
    background-position-x: 300px;
    z-index: -1;
    position: absolute;
}